<!DOCTYPE html>
<html lang="en" data-ng-app="app1">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do List</title>
    <link href="bootstrap.css" rel="stylesheet">
    <script src="angular.js"></script>
    <script src="data.js"></script>
    <link href="todolist.css" rel="stylesheet">
    <script src="todolist.js"></script>
</head>

<body>
    <div class="container" ng-controller="ctrl1 as vm">
        <center>
            <label>Name:</label>
            <input type="text" placeholder="Enter your name" ng-model="yourname"> </center>
        <h1>Hello! <span class="othername">{{ yourname }}</span> Enter your ToDo's below!</h1>
        <div class="jumbotron">
            <h1 id="todolist">Nyron's To Do List</h1> </div>
        <div class="col-xs-12">
            <input type="text" class="form-control" placeholder="Filter on..." data-ng-model="vm.filter_on" />
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>List</th>
                        <th>Activity Name</th>
                        <th>Add Notes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="list in vm.data">
                        <th scope="row">1</th>
                        <td>{{list.Errand}}</td>

                        <td>{{list.Notes}}</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>
                            <input type="text" data-ng-model="vm.new_list_item.Errand" placeholder="Activity Name" /> </td>
                        <td>
                            <input type="text" data-ng-model="vm.new_list_item.Notes" placeholder="Add Notes" /> </td>

                        <td>
                            <td data-ng-click="vm.create()">&plus;</td>
                    </tr>
                </tbody </table>
        </div>
    </div>
    </div>
</body>

</html>
